<div class="text-center">
  <blockquote>
    <p><%= @question %></p>
    <p class="author">- You</p>
  </blockquote>
  <br>
  <blockquote>
    <p><%= @answer %></p>
    <p class="author">- Coach</p>
  </blockquote>
  <br>
  <%= link_to "Ask a new Question", :root %>
</div>

